@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: center;
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    background: #fff;
    margin: 50px;
    display: block;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side
{
    position: left;
    background: #fff;
    padding: 40px;
}
.textoPerfil
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.textoPerfil .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.textoPerfil .imgBx img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textoPerfil h2
{
    color: #003147;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
}
.contactoInfo.idiomas .percent
{
position: relative;
width: 100%;
height: 6px;
background: #081921;
display: -webkit-inline-box;
margin-top: 5px;
}
.contactoInfo.idiomas .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
    }
.contactoInfo.idiomas .percent div
{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;   
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848c90;
}
.about .box.text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.intereses ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intereses ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.intereses ul li .fa 
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
